@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    /*   color de fondo */
      background: linear-gradient(to bottom, rgb(115, 0, 255), white);
      /* saca el scroll de la pesataña */
      overflow-y: hidden;
      overflow-x: hidden;
      /* fuente */
      font-family: 'Roboto', sans-serif;
  
  }
  
  
  /* Caja sombra */
  .caja-sombra{
     background-color: rgb(77, 244, 255, 0.53);
     height: 500px;
     width: 60%;
     margin-top: 9%;
     margin-left: 10%;
     border-radius: 20px;
  }
  
  
  /* Botón/logo que me lleva al index */
  
  #logo-boton{
/*   background-color: chartreuse; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  position: relative;
  top: 170px;
  left: 90px;

  }

/*   logo hover */

#logo-hover:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(156, 41, 201);
    border-radius: 100px;
    height: 90%;
}
  
  
  /* caja del formulario */
  
  .caja-form{
      background-color: rgb(155, 71, 185);;
      height: 500px;
      width: 60%;
      margin-top: 9%;
      margin-left: 7%;
      position: relative;
      left: 350px;
      top: -637px;
      z-index: 2;
      border-radius: 20px;
      box-shadow: -10px 9px 5px rgb(255, 255, 255, 0.2);
  }
  
  /* FORMULARIO */
  
  /* Caja del formulario */
  #form{
    /*   background-color: blue;  */
      width: 80%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  
  
  
  /* titulo "nombre" para el input de nombre */
  
  #nombre-titulo{
      position: relative;
      left: 30px;
      top: 25px;
      color: aliceblue;
  }
  
  
  /* Input de nombre */
  
  #nombre{
      position: relative;
      height: 35px;
      left: 30px;
      top: 15px;
      width: 300px;
      border-radius: 7px;
      border: none;
      caret-color: rgb(123, 6, 99);
      outline: none;  
  
  }
  /* titulo "correo" para el input de correo */
  #correo-titulo{
      position: relative;
      left: 30px;
      top: 25px;
      color: aliceblue;
  }
  /* Input de correo */
  #email{
      position: relative;
      height: 35px;
      left: 30px;
      top: 15px;
      width: 300px;
      border-radius: 7px;
      border: none;
      caret-color: rgb(123, 6, 99);
      outline: none;  
  }
  
  
  /* titulo "contraseña" para el input de contraseña */
  #contraseña-titulo{
      position: relative;
      left: 30px;
      top: 25px;
      color: aliceblue;
  }
  /* Input de contraseña */
  #contraseña{
      position: relative;
      height: 35px;
      left: 30px;
      top: 15px;
      width: 300px;
      border-radius: 7px;
      border: none;
      caret-color: rgb(123, 6, 99);
      outline: none;  
  }
  
  /* titulo "apellido" para el input de apellido */
  #apellido-titulo{
      position: relative;
      left: 390px;
      top: -265px;
      color: aliceblue;
      
  }
  /* Input de contraseña */
  #apellido{
      height: 35px;
      position: relative;
      left: 390px;
      top: -276px;
      width: 300px;
      border-radius: 7px;
      border: none;
      caret-color: rgb(123, 6, 99);
      outline: none;  
  }
  
  
  /* titulo "usuario" para el input de usuario */
  #usuario-titulo{
      position: relative;
      left: 390px;
      top: -265px;
      color: aliceblue;
  }
  /* Input de usuario */
  #usuario{
      height: 35px;
      position: relative;
      left: 390px;
      top: -276px;
      width: 300px;
      border-radius: 7px;
      border: none;
      caret-color: rgb(123, 6, 99);
      outline: none;  
  }
  
  
  /* titulo "Confirma la contraseña" para el input de  ccontraseña */
  #ccontraseña-titulo{
      position: relative;
      left: 390px;
      top: -265px;
      color: aliceblue;
  }
  /* Input de usuario */
  #ccontraseña{
      height: 35px;
      position: relative;
      left: 390px;
      top: -276px;
      width: 300px;
      border-radius: 7px;
      border: none;
      caret-color: rgb(123, 6, 99);
      outline: none;  
  }
  
  
  
  
  
  /* sugerencia */
  
  
  #sugerencia{
      /*  background-color: aqua; */
       width: 170px;
      position: relative;
      top: -275px;
      left: 270px;
  }
  #sugerencia a{
      text-decoration: none;
      color: #ffffff;
  }

  
  /* Caja con las redes sociales como twitter, google y github */
  
  .caja-redes{
     /*  background-color: black; */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 60%;
      position: relative;
      top: -260px;
      left: 145px;
  }
  
  /* Botón twitter */
  
  #twitter{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eee;
      height: 30px;
      width: 30%;
      margin-right: 10px;
      border-radius: 7px;
      font-weight: bold;
  }
  #twitter a{
      text-decoration: none;
      color: rgb(155, 18, 219);
  }
  #twitter a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
      text-decoration: none;
      background-color: rgb(155, 18, 219);
      height: 30px;
      width: 100%;
      color: #ffffff;
      border-radius: 7px;
      
  }

  #twitter-logo{
    height: 15px;
    width: 15px;
    margin-right: 7px;
}
  /* Botón google */
  #google{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eee;
      height: 30px;
      width: 30%;
      border-radius: 7px;
      font-weight: bold;
  }
  #google a{
      text-decoration: none;
      color: rgb(155, 18, 219);
  }
  #google a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
      text-decoration: none;
      background-color: rgb(155, 18, 219);
      height: 30px;
      width: 100%;
      color: #ffffff;
      border-radius: 7px;
  }

  #google-logo{
    height: 15px;
    width: 15px;
    margin-right: 7px;
}
  /* Botón google */
  #github{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eee;
      height: 30px;
      width: 30%;
      margin-left: 10px;
      border-radius: 7px;
      font-weight: bold;
  }
  
  #github a{
      text-decoration: none;
      color: rgb(155, 18, 219);
  }
  #github a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
      text-decoration: none;
      background-color: rgb(155, 18, 219);
      height: 30px;
      width: 100%;
      color: #ffffff;
      border-radius: 7px;
  }

  #github-logo{
    height: 15px;
    width: 15px;
    margin-right: 7px;
}
  
  /* checkbox */
  #aceptar{
      position: relative;
      top: -125px;
      left: -250px;
  }
  
  /* condiciones */
  
  #condiciones{
      position: relative;
      top: -155px;
      left: 200px;
      
  }
  #condiciones a{
      text-decoration: none;
      color: #ffffff;
  }
  #condiciones a:hover{
      text-decoration: none;
      color: rgb(155, 18, 219);
  }
  /* Boton registrate */
   #boton-registrate{
      position: relative;
      top: -90px;
      left: 0px;
      height: 40px;
      width: 110px;
      z-index: 1;
      border-radius: 7px;
      border: none;
      height: 30px;
      background-color: rgb(255, 0, 166);
      color: #ffffff;
  }
  
  #boton-registrate:hover{
      background-color: white;
      color: rgb(255, 0, 166);
     
  }


  
  /*  pregunta y boton para iniciar sesión   */
  
  .caja-preguntayboton-is{
     /*  background-color: black; */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 400px;
      position: relative;
      top: -600px;
  }
  
  #pregunta-is{
      color: #ffffff;
   
  }
  
  
  #boton-is{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 0, 166);
      height: 40px;
      width: 110px;
      border-radius: 7px;
      margin-left: 20px;
  }
  
  #boton-is a{
      text-decoration: none;
      color: #ffffff;
  }
  
  
  #boton-is a:hover{
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 0, 166);
      transition: 1s;
      height: 100%;
      width: 100%;
      border-radius: 7px;
  }


