html {
    font-size: 18px;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

/* Estilos para el header */

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    font-weight: 600;
}

.header__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 500px;
    justify-content: space-between;
    list-style: none;
    /* background-color: violet; */
}

.header__link {
    color: #fff;
}

.logo {
    width: 70px;
    height: 70px;
}

.avatar {
    width: 50px;
    border-radius: 100%;
}

/* Estilos para el hero */

.hero {
    position: relative;
}

.hero__cols {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.hero__video {
    position: relative;
    width: 100%;
}

.hero__col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 450px;
    border-radius: 25px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),  
        url('../assets/img/curso-html/portada-video.png');
    background-size: cover;
}

.hero__title {
    margin-top: 0;
    font-size: 3em;
    color: #fff;
}

.hero__lenguaje {
    color: rgba(0, 0, 0, 0.5);
}

.hero__contenido {
    font-size: 1.7em;
    font-weight: 500;
    color: #fff;
}

.hero__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2em;
    color: #fff;
    list-style: none;
}

.hero__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Estilos para la sección .info (Acerca del Curso) */

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 70px 0;
    align-items: center;
}

.subtitle {
    margin: 0;
    font-size: 2.5em;
    background: linear-gradient(to right, #6D348A, #68BFAB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.info__p {
    width: 500px;
    text-align: center;
    line-height: 30px;
}

.info__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.info__row-1,
.info__row-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Sección Contenido */

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px;
    background-color: #EFEFEF;
}

.contenido__modulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.contenido__article {
    display: flex;
    padding: 20px;
    color: white;
    border-radius: 15px;
    background-color: #595959;
}

.contenido__subtitle {
    margin: 0;
    font-size: 1.5em;
    background: linear-gradient(to right, #6D348A, #68BFAB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

hr {
    width: 100%;
    border: 1px solid #a3a3a3;
    background-color: #a3a3a3;
}

.contenido__col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 30%; */
    width: 200px;
    flex-shrink: 0;
    border-radius: 10px;
}

.contenido__col2 {
    padding: 0 50px;
    flex-shrink: 1;
}

.contenido__btn-play {
    width: 60px;
}

.contenido__video1 {
    background-image: url(../assets/img/curso-html/portada-clase1.png);
    background-size: cover;
}

.contenido__video2 {
    background-image: url(../assets/img/curso-html/portada-clase2.png);
    background-size: cover;
}

.contenido__classtitle {
    font-size: 1.3em;
}