html {
    font-size: 18px;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* Estilos para el header */

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    font-weight: 500;
}

.header__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 500px;
    justify-content: space-between;
    list-style: none;
    /* background-color: violet; */
}

.header__link {
    color: #fff;
}

.logo {
    width: 70px;
    height: 70px;
}

.avatar {
    width: 50px;
    border-radius: 100%;
}

/* Estilos para el hero */

.hero {
    position: relative;
}

.hero__cols {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.hero__video {
    position: relative;
    width: 100%;
}

.hero__col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 450px;
    border-radius: 25px;
    /* background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),  
        url('../assets/img/curso-html/portada-video.png'); */
    background-size: cover;
}

.hero__title {
    margin-top: 0;
    font-size: 3em;
    color: #fff;
}

.hero__lenguaje {
    color: rgba(0, 0, 0, 0.5);
}

.hero__contenido {
    font-size: 1.7em;
    font-weight: 500;
    color: #fff;
}

.hero__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2em;
    color: #fff;
    list-style: none;
}

.hero__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Estilos para la sección .info (Acerca del Curso) */

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 70px 0;
    align-items: center;
}

.subtitle {
    margin: 0;
    background: linear-gradient(to right, #6D348A, #68BFAB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 64px;
}

.info__p {
    width: 500px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
}

.info__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.info__row-1,
.info__row-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
}

/* Sección Contenido */

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px;
    background-color: #EFEFEF;
}

.contenido__modulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.contenido__article {
    display: flex;
    padding: 20px;
    color: white;
    border-radius: 15px;
    background-color: #595959;
}

.contenido__subtitle {
    margin: 0;
    font-size: 2em;
    background: linear-gradient(to right, #6D348A, #68BFAB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
}

hr {
    width: 100%;
    border: 1px solid #a3a3a3;
    background-color: #a3a3a3;
}

.contenido__col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    flex-shrink: 0;
    border-radius: 10px;
}

.contenido__col2 {
    padding: 0 50px;
    flex-shrink: 1;
}

.contenido__btn-play {
    width: 60px;
}

.contenido__video1 {
    background-image: url(../assets/img/curso-html/portada-clase1.png);
    background-size: cover;
}

.contenido__video2 {
    background-image: url(../assets/img/curso-html/portada-clase2.png);
    background-size: cover;
}

.contenido__classtitle {
    font-size: 1.3em;
}

/* Sección comentarios */

.valoracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px;
}

.valoracion__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.valoracion__form * {
    margin: 0;
}

.valoracion__subtitle {
    font-weight: 400;
}

.valoracion__star-content i {
    font-size: 1.5em;
    color:#6D348A;
}

.valoracion__comment {
    padding: 10px;
    font-family: inherit;
    font-size: 1em;
    border-radius: 10px;
}

.valoracion__comment:focus {
    outline: 2px solid #6D348A;
}

.valoracion__submit {
    align-self: flex-end;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    background-color:#6D348A;
    border: none;
    border-radius: 5px;
}

.valoracion__submit:hover {
    cursor: pointer;
    background-color: rgba(109, 52, 137, 0.9);
}

/* Cursos relacionados */ 

.cursos-rel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px;
    background-color: #EFEFEF;
}

.cursos-rel__arts {
    display: flex;
    gap: 50px;
}

.cursos-rel article {
    width: 280px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.cursos-rel header {
    padding: 25px;
    font-weight: 700;
}

.cursos-rel__css {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background: linear-gradient(90deg, #2a1c56 0%, #2196f3 33%, #2196f3 66%, #2a1c56 100%);
}

.cursos-rel__css img,
.cursos-rel__js img {
    width: 80px;
}

.cursos-rel__js {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background: linear-gradient(90deg, #2A1C56 0%, #68BFAB 33%, #68BFAB 66%, #2A1C56 100%);
}

.cursos-rel p {
    margin: 0;
    padding: 20px;
}

.cursos-rel footer {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-size: 0.9em;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    color: white;
    background-color: #595959;
}

.footer__img {
    height: 20px;
    width: 20px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__redes div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__title {
    font-size: 28px;
    color: transparent;
    background: linear-gradient(#776CF9,#68BFAB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.map {
    width: 30vw;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 0.9em;
    list-style-type: none;
}
