@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
       /*   color de fondo */
       background: linear-gradient(to bottom, rgb(103, 19, 107), white);
       background-attachment: fixed;
    /* saca el scroll de la pesataña */
    overflow-y: hidden;
    overflow-x: hidden;
    /* fuente */
    font-family: 'Roboto', sans-serif;
}
/* Caja pricipal del formulario */
.caja-pricipal-iss{
    background-color: rgb(201, 21, 233, 0.3);
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 45%;
    margin: 12% auto 12% auto;
    border-radius: 20px;
}

#redes-is{
 /*    background-color: chartreuse; */
    height: 80%;
    width: 30%;
    margin-left: 17px;
    position: relative;
    top: 30px;
    border-right:2px solid rgba(55, 55, 192, 0.816);
}

/* Opción para usar tus redes */
#titulo-redes-is{
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    color: antiquewhite;
    font-size: x-small;
}

/* caja con las distinatas redes */

#redesociales-is{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#redesociales-is a{
    text-decoration: none;
  /*   color: black; */
}

/* Botón twitter  */

#twitter-is{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
    margin-top: 5px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
   
}


#twitter-logo{
    height: 15px;
    width: 15px;
    margin-right: 7px;
}

#twitter-is:hover{
    background-color: rgb(155, 18, 219);
    height: 20%;
    width: 80%;
    color: #ffffff;
}
/* Botón google  */
#google-is{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
    margin-top: 20px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}

#google-logo{
    height: 15px;
    width: 15px;
    margin-right: 7px;
}
#google-is:hover{
    background-color: rgb(155, 18, 219);
    height: 20%;
    width: 80%;
    color: #ffffff;
}

/* Botón github  */
#github-is{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
    margin-top: 20px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}
#github-logo{
    height: 15px;
    width: 15px;
    margin-right: 7px;
}

#github-is:hover{
    background-color: rgb(155, 18, 219);
    height: 20%;
    width: 80%;
    color: #ffffff;
}

/* Caja principal derecha */
.caja-princ-der{
/* background-color: black; */
    height: 80%;
    width: 60%;
    margin-left: 15px;
    margin-top: 30px;
}
/* Caja con mail y contraseña */
.caja-mailycontrseña-is{
    height: 100%;
    width: 100%;

}
/* Input del mail */
#email-is{
    display: flex;
    justify-content: center;
    height: 35px;
    width: 80%;
    margin: 15px auto 0px auto;
    border-radius: 7px;
    border: none;
    caret-color: rgb(123, 6, 99);
    outline: none;    

}

/* Input de la contraseña */
#contraseña-is{
    display: flex;
    justify-content: center;
    height: 35px;
    width: 80%;
    margin: 15px auto 0px auto;
    border-radius: 7px;
    border: none;
    caret-color: rgb(123, 6, 99);
    outline: none;  
}
/* Boton para iniciar sesión */
#boton-iniciar{
    position: relative;
    top: 15px;
    left: 165px;
    height: 30px;
    width: 100px;
    border-radius: 7px;
    border: none;
    background-color: rgb(255, 0, 166);

} 

#boton-iniciar{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#boton-iniciar:hover{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 166);
    transition: 1s;
    height: 30px;
    width: 100px;
    border-radius: 7px;
}


/* Pregunta  */

#pregunta-is{
    display: flex;
    justify-content: center;
    align-items: center;
  /*   background-color: aqua; */
    height: 30px;
    width: 70%;
    position: relative;
    top: -90px;
    left: 75px;
    border-top: 2px solid rgba(55, 55, 192, 0.816);
}

#pregunta-is a{
    text-decoration: none;
    color: #ffffff;
}

#pregunta-is a:hover{
    color: rgb(255, 0, 166);
}


/* caja ya ¿tienes cuenta? */

#tienes-cuenta-is{
/*     background-color: coral;  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 50px;
    position: relative;
    top: -80px;
    left: 80px;
    color: #ffffff;
}
/* Boton registrate */
#registrate-is{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 166);
    height: 30px;
    width: 100px;
    border-radius: 7px;
    margin-left: 20px;
}

#registrate-is{
    text-decoration: none;
    color: #ffffff;
}


#registrate-is:hover{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 166);
    transition: 1s;
    height: 30px;
    width: 100px;
    border-radius: 7px;
}