@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');


body {
    overflow-x: hidden;
}

/* Todo el header/nav */
.encabezado {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;    
}

.encabezado__list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.encabezado__link {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.encabezado__anotate {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #C73189;
}
.encabezado__anotate:hover{
    background:linear-gradient(to bottom, #C73189 5%, #a52871c5 100%);
	background-color:#C73189;
}

.encabezado__ingresa {
    padding: 10px 30px;
    margin-right: 40px;
    border-radius: 8px;
    background-color: #68BFAB;
}
.encabezado__ingresa:hover {
	background:linear-gradient(to bottom, #68BFAB 5%, #32917bba 100%);
	background-color:#68BFAB;
}

/* Video de fondo y html */
html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Estilos para el header */

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    font-weight: 600;
}

.header__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 500px;
    justify-content: space-between;
    list-style: none;
    /* background-color: violet; */
}

.header__link {
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 600px;
}

.avatar {
    width: 50px;
    border-radius: 100%;
}

/* Estilos para el hero */

.hero {
    position: relative;
}

.hero__cols {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.hero__video {
    position: relative;
    width: 100%;
}

.hero__col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 450px;
    border-radius: 25px;
  /*   background-image: url(../assets/img/curso-html/portada-video.png); */
    background-size: cover;
}

#video-class-html5{
    border-radius: 20px;
    border: none;
}

.hero__title {
    margin-top: 0;
    font-size: 3em;
    color: #fff;
}

.hero__lenguaje {
    color: rgba(0, 0, 0, 0.5);
}

.hero__contenido {
    font-size: 1.7em;
    font-weight: 500;
    color: #fff;
}

.hero__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2em;
    color: #fff;
    list-style: none;
    margin-top: 19px;
}

.hero__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Parte del Acerca de */

.contenedor2 {
    background-color: #ffff;;
     display: flex;
    width: 100%;
    height: 600px;
}

.caja2 {
       /* background-color: #6D348A; */
       width: 70%;
       height: 100px;
}

.title2 {
    background: linear-gradient(90deg,#6D348A 12%,#68BFAB 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 64px;
    margin-top: 100px;
    margin-left: 130px;
}

.contenido2 {
   /*  background-color: aquamarine; */
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.descripcion {
    margin-top: 100px;
    margin-left: 130px;
    width: 60%;
    font-size: 24px;
    line-height: 35px;
}

.lista2 {
    margin-top: 20%;
    font-size: 24px;
}
.list {
    margin-top: 33px;
}

ul li {
    list-style: none;
}
.css {
    color: #6D348A;
}

/* Parte del Ejemplo de html */

.contenedor3 {
    width: 100%;
    height: 800px;
    background-color: #EFEFEF;
    padding: 50px;
}
.title3 {
    width: 70%;
    height: 200px;
    margin-left: 260px; 
    display: flex;
    justify-content: center;
}
h2 {
    background: linear-gradient(90deg,#6D348A 12%,#68BFAB 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 64px;
}
.example {
    padding-top: 20px;
    width: 70%;
    height: 500px; 
    margin-left: 360px; 
    
}
.ejemplo {
    width: 80%;
    height:100%;
    border-radius: 40px;
}

/* Sección comentarios */

.valoracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px;
}

.valoracion__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.valoracion__form * {
    margin: 0;
}

.valoracion__subtitle {
    font-weight: 400;
}

.valoracion__star-content i {
    font-size: 1.5em;
    color:#6D348A;
}

.valoracion__comment {
    padding: 10px;
    font-family: inherit;
    font-size: 1em;
    border-radius: 10px;
}

.valoracion__comment:focus {
    outline: 2px solid #6D348A;
}

.valoracion__submit {
    align-self: flex-end;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    background-color:#6D348A;
    border: none;
    border-radius: 5px;
}

.valoracion__submit:hover {
    cursor: pointer;
    background-color: rgba(109, 52, 137, 0.9);
}
/*Preguntas frecuentes */

.contenedor4 {
    /* background-color: #f50390; */
    width: 100%;
    height: 600px;
    padding: 50px;
}
.title4, .title5 {
    /* background-color: #381027; */
    width: 70%;
    height: 190px;
    margin-left: 240px;
    display: flex;
    justify-content: center;
}
.preguntas {
    /* background-color: #1d8d76; */
    width: 60%;
    height: 200px;
    margin-left: 320px;
    margin-top: 40px;
    
}
.pregunta {
    background: rgb(199,49,137);
background: linear-gradient(90deg, rgba(199,49,137,1) 0%, rgba(90,26,184,1) 65%, rgba(42,28,86,1) 100%);
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(0, 0, 0);
    padding: 35px;
    color: #ffff;
    border-radius: 10px;
}
/* Anotate */

.contenedor5 {
    background-color: #EFEFEF;
    width: 100%;
    height: 400px;
    padding: 50px;
}

a {
    text-decoration: none;
    color: #ffff;
    align-items: center;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #3e7367;
	background:linear-gradient(to bottom, #68BFAB 5%, #68BFAB 100%);
	background-color:#68BFAB;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Inter', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #68BFAB;
    margin-left: 630px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5fc4ac 5%, #41ba9e 100%);
	background-color:#68BFAB;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Footer */


.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    color: white;
    background-color: #595959;
}

.footer__img {
    height: 20px;
    width: 20px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__redes div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__title {
    font-size: 28px;
    color: transparent;
    background: linear-gradient(#776CF9,#68BFAB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.map {
    width: 30vw;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 0.9em;
    list-style-type: none;
}