body{
    margin: 0;
}

.video-fondo {
    display: block;
    margin: 0;
    width: 100vw;
    /* height: 600px; */
}

h1{
    position: absolute;
    top: 10px;
    left: 650px;
    font-family: 'Roboto', sans-serif;
    font-size: 140px;
    color: #f9f9fa;
}

span{
    background: linear-gradient(to right, #C73189, #8F00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

#logoindex{
    position: absolute;
    top: 100px;
    left: 100px;
}