@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body{
  /*   background-color: aqua; */
    font-family: 'Nunito Sans', sans-serif;
}
/* Caja pricipal del nav */
#nav{
    background-color: rgb(75, 41, 155);
    height: 65px;
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
    
}

/* caja de botones y logo */

.caja-botonesylogo{
    display: flex;
    flex-direction: row;
/*     background-color: brown; */
    height: 55px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

/* caja de logo */

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
/*     background-color: chartreuse; */
    height: 55px;
    width: 12%;
}

/* caja de botones */

#caja-botones{
    display: flex;
    align-items: center;
    justify-content: center;
  /*   background-color: blue; */
    margin-left: 52%;
    height: 55px;
    width: 50%;
    
}

/* boton anotate */

#boton-anotate{
   background-color: #ef09c9;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 32px;
   width: 17%;
   border-radius: 7px;
   
}

/* boton ingresa */

#boton-ingresa{
    background-color: #68BFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    height: 32px;
    width: 17%;
    border-radius: 7px;
    
 }
#ingresa{
    text-decoration: none;
    color: #ffffff;
}




/* Botones del nav */

#devjump{
    margin-right: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#nosotros{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#lenguaje{
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#anotate{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#boton-ingresa a:hover{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #68BFAB;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    transition: 1s;
}


#boton-anotate a:hover{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #68BFAB;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    transition: 1s;
}

#nav a:hover{


    color: rgb(228, 17, 197);

}