/* Este import de la fuente no va a hacer falta porque va a estar en el css del index */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.encabezado {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    height: 60px;
    /* 
        Este font-family a lo mejor no sea necesario
        porque esta propiedad va a estar en el body
    */
    font-family: 'Inter', sans-serif;
    /*
        Hay que eliminar esta background-color para
        que quede transparente el fondo
    */
    background-color: rgba(90, 26, 184, 1);
}

.encabezado__list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.encabezado__link {
    color: white;
    text-decoration: none;
}

.encabezado__anotate {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #C73189;
}

.encabezado__ingresa {
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #68BFAB;
}