.menu-preg {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    background-color: #fff;
}

.preg__item {
    border-bottom: 1px solid rgb(216, 216, 216);
    list-style: none;
}

.pregunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 10px 15px;
    background: linear-gradient(90deg, rgba(199,49,137,1) 0%, rgba(90,26,184,1) 65%, rgba(42,28,86,1) 100%);
    border-radius: 10px;
    height: 50px;
    border: 1px solid rgb(217, 210, 210);
}

.opciones {
    flex-direction: column;
    padding: 20px 15px;
    background-color: #f3f3f3;
}

.fa-angle-right {
    font-size: 1.2em;
    color: #fff;
}

/* Clases dinámicas añadidas con JavaScript */


.closed {
    animation-name: cerrar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.rotate90 {
    animation-name: girar90;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.rotate0 {
    animation-name: girar0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.opciones-abierto {
    display: flex;

}

.opciones-cerrado {
    display: none;
}


@keyframes girar90 {
    from { transform: rotate(0deg); }
    to { transform: rotate(90deg); }
}

@keyframes girar0 {
    from { transform: rotate(90deg); }
    to { transform: rotate(0deg); }
}

@keyframes abrir {
    from { height: 58.4px; }
    to { height: 206.2px; }
}

@keyframes cerrar {
    from { height: 120.2px; }
    to { height: 72px; }
}