@keyframes girar90 {
    from { transform: rotate(0deg); }
    to { transform: rotate(90deg); }
}

@keyframes girar0 {
    from { transform: rotate(90deg); }
    to { transform: rotate(0deg); }
}

@keyframes abrir {
    from { height: 58.4px; }
    to { height: 206.2px; }
}

@keyframes cerrar {
    from { height: 206.2px; }
    to { height: 58.4px; }
}