@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body{
  /*   background-color: aqua; */
    font-family: 'Nunito Sans', sans-serif;
    background-color: #eee;
}

#nav{
    background-color: rgb(124, 123, 123);
    height: 65px;
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
    
}

.caja-botonesylogo{
    display: flex;
    flex-direction: row;
 /*    background-color: brown; */
    height: 55px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

#caja-botones-izq{
    display: flex;
    align-items: center;
    justify-content: center;
/*     background-color: blue; */
    height: 55px;
    width: 40%;
    
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
/*     background-color: chartreuse; */
    height: 55px;
    width: 20%;
}

#caja-botones-der{
    display: flex;
    align-items: center;
    justify-content: center;
 /*    background-color: rgb(255, 255, 0); */
    height: 55px;
    width: 40%;
}

/* Botones del nav */

#devjump{
    margin-right: 25px;
    text-decoration: none;
    color: black;
}

#nosotros{
    text-decoration: none;
    color: black;
}

#lenguaje{
    margin-right: 25px;
    text-decoration: none;
    color: black;
}

#anotate{
    text-decoration: none;
    color: black;
}

#nav a:hover{

    color: #aa0ace;
}


/* Caja imagen principal */

#caja-img-principal{
    background-color: #aa0ace;
    height: 300px;
    width: 90%;
    margin: 10% auto 0px auto;
}



/* Caja para el titulo y el texto  */

.tituloytexto-uno{
/* background-color: aqua; */
height: 250px;
width: 75%;
margin: 2% auto 0px auto;
}

#titulo-uno{
    display: flex;
    justify-content: center;
    align-items: center;
  /*   background-color: rgb(140, 255, 0); */
    height: 60px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}

#texto-uno{
  /*   background-color: rgb(140, 255, 0); */
    height: 170px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

/* Nuestros cuersos */

/* CAJA HTML 5 */
.caja-principal-h{
    background-color: #ffffff;
    height: 270px;
    width: 37%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  
}

.img-html{
    background-color: rgb(255, 77, 0);
    height: 150px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.tituloytexto-html{
    height: 80px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

a{
    text-decoration: none;
    color: black;
}



/* CAJA CSS */
.caja-principal-c{
    background-color: #ffffff;
    height: 270px;
    width: 37%;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.img-css{
    background-color: rgb(0, 195, 255);
    height: 150px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.tituloytexto-css{
    height: 80px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

a{
    text-decoration: none;
    color: black;
}

/* CAJA JAVASCRIPT */

.caja-principal-j{
    background-color: #ffffff;
    height: 270px;
    width: 37%;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.img-java{
    background-color: rgb(225, 255, 0);
    height: 150px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.tituloytexto-java{
    height: 80px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}